Global styles */
:root {
  --dark-brown: #322214;
  --brown: #4C443C;
  --gold-text: #C59849
}

body {
  background-color: #4b4b4b;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

main {
  width: 100vw;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.button-container {
  width: 100%;
  display: flex;
}

button {
  display: block;
  width: 100%;
  border: none;
  border-radius: 4px;
}

button:hover, button:active {
  filter: brightness(1.2);
}

/* Background */

.background-grid {
  margin: 0;
  background: linear-gradient(135deg, rgba(12, 20, 2, 0.4) 25%, transparent 25%),
  linear-gradient(225deg, #0c1402 25%, transparent 25%),
  linear-gradient(315deg, rgba(12, 20, 2, 0.4) 25%, transparent 25%),
  linear-gradient(45deg, #0c1402 25%, transparent 25%);
  background-size: 45px 45px;
  background-color: rgba(6, 26, 86, 0.9);
}


/* Root.tsx start*/
.root-main {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

.root-header {
  text-align: center;
  padding: 15px 0;
}

.root-title {
  font-size: 22px;
  text-shadow: 1px 1px 1px #000;
  color: var(--gold-text)
}

.root-header-card {
  padding: 12px;
  background: linear-gradient(top left to bottom right, yellow, 1px, brown, 1px, 100%);
  background-size: contain;
  background-color: var(--brown);
  border: 3px solid var(--dark-brown);
  border-radius: 4px;
  box-shadow: inset 4px 2px 5px #000, 1px 2px 8px #000;
}

.root-section {
  width: 100%;
  flex-grow: 1;
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr 1fr;
}

.select-investigator-button {
  background-color: var(--brown);
  color: var(--gold-text);
  border: 2px dashed var(--dark-brown);
  font-size: 18px;
  text-shadow: 1px 1px 1px #000;
  box-shadow: inset 2px 1px 5px #000, inset -2px -1px 5px #000;
}

.select-investigator-button:hover, :active {
  transition: border 0.3s ease-in-out;
  border: 2px solid var(--dark-brown);
}

.root-footer {
  padding: 10px 0;
}

.root-footer button {
  padding: 15px;
  background-color: var(--brown);
  box-shadow: 2px 1px 5px #000;
  color: var(--gold-text);
  font-size: 18px;
  font-weight: 600;
  text-shadow: 1px 1px 1px #000;
}
.root-footer button:hover, button:active {
  filter: brightness(1.2);
}

/* Root.tsx end */

/* Investigator.tsx start */
.investigator-main {
  display: flex;
  flex-direction: column;
}
.investigator-header {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}
.investigator-link {
  color: white;
}
.investigator-section {
  padding: 10px;
}
.investigator-info {
  margin-bottom: 4px;
  text-align: center;
  margin-bottom: 16px;
}
.investigator-info h1 {
  font-size: 36px;
}
.investigator-info p {
  font-size: 20px;
}
.investigator-abilities {
  border: 1px solid black;
  padding: 8px;
  border-radius: 4px;
  margin-bottom: 8px;
}
.investigator-abilities p {
  font-size: large;
}
.investigator-abilities-description {
  margin-top: 3px;
  line-height: 1;
}
.investigator-items {
  border: 1px solid black;
  padding: 8px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.investigator-items-title {
  font-weight: bold;
}

.investigator-items-starting-items {
  flex: 1;
  text-align: end;
}
.investigator-stats {
  padding: 8px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4px;
}

.stat-title {
  font-size: 20px;
  font-weight: bold;
}

.stat {
  font-weight: bold;
  font-size: 30px;
  padding: 4px 0;
}

.investigator-stat-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 4px;
  padding: 8px;
}
.investigator-stat-button-container {
  display: flex;
  width: 100%;
}
.investigator-stat-button-container button {
  border: none;
  padding: 4px;
}
.minus-button {
  margin-right: 1px;
  border-radius: 8px 0 0 8px;
}
.add-button {

  border-radius: 0 8px 8px 0;
}

.investigator-quick-commands {
  display: flex;
  gap: 4px;
}

.quick-button {
  padding: 10px 8px;
  flex: 1;
}
/* Investigator.tsx end